news-feeds/Post_New_Articles_from_Feeds_to_Slack_Channel.json
{
  "name": "Post New Articles from Feeds to Slack Channel",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const sheetLinks = $('Get Historically Posted Articles from Google Sheet').all().map(row => row.json.link);\nconst articles = $('Read Latest Articles from Feeds').all();\nreturn articles.filter(item => !sheetLinks.includes(item.json.link));              "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        -340
      ],
      "id": "5555a9ce-26d1-45a3-9672-5f54b0cf28a3",
      "name": "Filter Unpublished Articles",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Filter previously published articles from those received from the feeds."
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 7
            }
          ]
        }
      },
      "id": "235db786-a37c-4f70-9fb8-a23903399056",
      "name": "Trigger Workflow",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1340,
        -340
      ],
      "notesInFlow": true,
      "notes": "cron-based Workflow trigger. Recommend once per day."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09281Y80AH",
          "mode": "list",
          "cachedResultName": "daily-industry-news-automation"
        },
        "text": "=*{{$json[\"title\"]}}* | {{$json[\"link\"]}} _Published: {{$json[\"pubDate\"]}}_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -20,
        -340
      ],
      "id": "195bea58-205a-4d30-bab0-ef137b157ab5",
      "name": "Post New Articles to Slack Channel",
      "webhookId": "637dea4d-c4e0-4369-93bb-f98268950d65",
      "notesInFlow": true,
      "notes": "Post new articles to Slack Channel."
    },
    {
      "parameters": {
        "content": "# 📄 Post New Articles from Feeds to Slack Channel\n\n## 🧠 What This Workflow Does\n\nThis workflow automates the discovery and sharing of fresh articles from a curated list of RSS feeds. It performs the following steps:\n\n1. **Reads a list of RSS feed URLs** from a Google Sheet (`Feeds` tab).\n2. **Fetches the latest articles** from each feed.\n3. **Checks for duplicates** against previously published links stored in another sheet (`Posted Articles` tab).\n4. **Filters out already shared articles**.\n5. **Posts the new articles** to a designated Slack channel with formatted titles and links.\n6. **Logs the newly shared articles** back into the Google Sheet to prevent duplicates.\n\n---\n\n## 🛠️ Prerequisites\n\nTo use this workflow, you must have:\n\n- ✅ **Google Sheets** OAuth2 credentials set up in n8n  \n  (Used to access and update the RSS feed and post history sheets)\n\n- ✅ **Slack** OAuth2 credentials  \n  (Used to post messages to a specific Slack channel)\n\n- ✅ **A Google Spreadsheet** with:\n  - `Feeds` tab – Columns: `title`, `link`  \n  - `Posted Articles` tab – Columns: `title`, `link`, `pubDate`\n\n---\n\n## 🔧 Environment Variables or Custom Values\n\nYou will need to set the following n8n variable or replace with direct input:\n\n- `{{$vars.Daily_Industry_News_Automation_Google_Sheet}}`:  \n  Reference to the Google Sheet Document ID (you can use a static ID if preferred)\n\nAlso update:\n- Slack `channelId`: Replace with your actual Slack channel ID if not dynamically referenced\n\n---\n\n## ⏰ Trigger & Scheduling\n\n- **Trigger type**: `Cron` node  \n- **Default schedule**: Every day at **7:00 AM**\n\nYou can modify this in the **“Trigger Workflow”** node to suit your own schedule.\n\n---\n\n## 🎯 Intended Use Case\n\nThis workflow is ideal for:\n\n- Marketing teams curating daily or weekly news digests\n- Founders or industry professionals monitoring sector updates\n- Automating internal Slack news updates\n- Avoiding duplicate content when sourcing from multiple feeds",
        "height": 1380,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2340,
        -420
      ],
      "id": "e1ea7e51-5f0f-4089-a4c0-9308bc72c85a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$vars.Daily_Industry_News_Automation_Google_Sheet}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1768028583,
          "mode": "list",
          "cachedResultName": "Feeds",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HIldK5vDx2luvmYEstU2PQzSS68xBrpp7lJ-8rQb2No/edit#gid=1768028583"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1120,
        -340
      ],
      "id": "146f4c93-a72c-4356-99ab-bcbc7747e671",
      "name": "Get Article Feeds",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "notes": "Get a list of RSS feeds to poll from the Feeds Google Sheet (title, link)."
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -900,
        -340
      ],
      "id": "3a2f3d00-333f-477f-8634-1b3c703d4061",
      "name": "Read Latest Articles from Feeds",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "notes": "Get articles from each feed in Google Sheet."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{$vars.Daily_Industry_News_Automation_Google_Sheet}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posted Articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HIldK5vDx2luvmYEstU2PQzSS68xBrpp7lJ-8rQb2No/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -680,
        -340
      ],
      "id": "74fec81d-bd50-4cce-87d5-fa6808658581",
      "name": "Get Historically Posted Articles from Google Sheet",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "executeOnce": true,
      "notes": "Get a list of articles previously posted from Posted Articles Google Sheet (title, link, pubDate)."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.Daily_Industry_News_Automation_Google_Sheet}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posted Articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HIldK5vDx2luvmYEstU2PQzSS68xBrpp7lJ-8rQb2No/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "link": "={{ $json.link }}",
            "pubDate": "={{ $json.pubDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content:encoded",
              "displayName": "content:encoded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content:encodedSnippet",
              "displayName": "content:encodedSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dc:creator",
              "displayName": "dc:creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contentSnippet",
              "displayName": "contentSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isoDate",
              "displayName": "isoDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dc:date",
              "displayName": "dc:date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        -340
      ],
      "id": "f0c01201-06f4-4154-8010-f134e5506f27",
      "name": "Append New Articles to Google Sheet",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "executeOnce": false,
      "notes": "Append the un-published articles to the Published Articles Google Sheet."
    }
  ],
  "pinData": {
    "Trigger Workflow": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Filter Unpublished Articles": {
      "main": [
        [
          {
            "node": "Append New Articles to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Workflow": {
      "main": [
        [
          {
            "node": "Get Article Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Article Feeds": {
      "main": [
        [
          {
            "node": "Read Latest Articles from Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Latest Articles from Feeds": {
      "main": [
        [
          {
            "node": "Get Historically Posted Articles from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Historically Posted Articles from Google Sheet": {
      "main": [
        [
          {
            "node": "Filter Unpublished Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Articles to Google Sheet": {
      "main": [
        [
          {
            "node": "Post New Articles to Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df78e5c5-759c-459a-9e16-5fa72787b41b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05cd306a73f97150c796adf49d28dcc97084b722b0b212b8c228ea8b71d87571"
  },
  "id": "G452NfcbwAErVDRu",
  "tags": [
    {
      "createdAt": "2025-06-25T20:39:25.066Z",
      "updatedAt": "2025-06-25T20:39:25.066Z",
      "id": "HKMgMooCXhG1RvQ4",
      "name": "RSS"
    },
    {
      "createdAt": "2025-06-25T20:39:34.824Z",
      "updatedAt": "2025-06-25T20:39:34.824Z",
      "id": "LrtcE3ptvaKdYplW",
      "name": "Slack"
    },
    {
      "createdAt": "2025-06-25T20:39:20.673Z",
      "updatedAt": "2025-06-25T20:39:20.673Z",
      "id": "msIodL6e7sVaa5aZ",
      "name": "Google Sheets"
    },
    {
      "createdAt": "2025-06-25T20:39:31.349Z",
      "updatedAt": "2025-06-25T20:39:31.349Z",
      "id": "mv8twTYqHvotykOz",
      "name": "Filter"
    }
  ]
}